{
  "$schema": "https://json.schemastore.org/prettierrc",
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "useTabs": true,
  "singleAttributePerLine": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css"
}
